@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Virgil";
	src: url("/fonts/virgil.woff2") format("woff2");
}

:root {
	--white: theme("colors.white");
	--black: theme("colors.black");
	--grey: theme("colors.grey");
	--slate-800: theme("colors.slate.800");
	--slate-900: theme("colors.slate.900");
}

body,
html {
	margin: 0;
	padding: 0;
}

@layer components {
	/* https://nerdcowboy.com/blog/sliding-underlined-links/ */
	.sliding-underline {
		@apply relative z-10;
		text-decoration: none;
	}

	.sliding-underline-small::before {
		background-image: url("/svg/underline/small.svg");
	}

	.sliding-underline-medium::before {
		background-image: url("/svg/underline/medium.svg");
	}

	.sliding-underline::before {
		content: "";
		position: absolute;
		bottom: -10%;
		right: -5%;
		height: 0.5em;
		width: 110%;
		background-size: 110% 0.5em;
		background-position-y: 110%;
		background-position-x: -0.4em;
		background-repeat: no-repeat;
		z-index: -2;
	}

	.sliding-underline::after {
		@apply bg-white;
		content: "";
		position: absolute;
		bottom: -10%;
		right: -5%;
		height: 0.5em;
		width: 110%;
		z-index: -1;
		transition: width 0.2s ease-in-out;
	}

	.sliding-underline:hover::after {
		width: 0%;
	}

	.sliding-underline-show:hover::after {
		width: 100% !important;
	}

	.title {
		@apply relative z-10 no-underline;
	}

	.title::before {
		content: "";
		position: absolute;
		left: -10%;
		bottom: -50%;
		width: 120%;
		height: 1em;
		background-image: url("/svg/underline/large.svg");
		background-size: 100% 1em;
		background-repeat: no-repeat;
		z-index: -2;
	}

	.title-large::before {
		background-image: url("/svg/underline/large.svg");
	}

	.title-medium::before {
		background-image: url("/svg/underline/medium.svg");
	}
}
