@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Virgil";
	src: url("assets/fonts/virgil.woff2") format("woff2");
}

:root {
	--white: theme("colors.white");
	--black: theme("colors.black");
	--red: theme("colors.red");
	--blue: theme("colors.blue");
	--grey: theme("colors.grey");
}

body,
html {
	margin: 0;
	padding: 0;
}
