/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Virgil";
	src: url("assets/fonts/virgil.woff2") format("woff2");
}

@layer components {
	/* https://nerdcowboy.com/blog/sliding-underlined-links/ */
	.sliding-underline {
		@apply relative z-10;
		text-decoration: none;
	}

	.sliding-underline::before {
		content: "";
		position: absolute;
		bottom: -20%;
		right: 0;
		height: 0.5em;
		width: 100%;
		background-image: url("assets/imgs/underline.png");
		background-size: 110% 0.6em;
		background-position-y: 120%;
		background-position-x: -0.4em;
		background-repeat: no-repeat;
		z-index: -2;
	}

	.sliding-underline::after {
		content: "";
		position: absolute;
		bottom: -20%;
		right: 0;
		height: 0.6em;
		width: 110%;
		background-color: white;
		z-index: -1;
		transition: width 0.2s ease-in-out;
	}

	.sliding-underline:hover::after,
	.sliding-underline:focus::after,
	.sliding-underline:active::after {
		width: 0%;
	}
}
