{
	"useTabs": true,
	"tabWidth": 4,
	"importOrder": ["^(.*)\\.svelte$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
